<!DOCTYPE html>
<!-- https://medium.com/js-dojo/build-a-real-time-chat-app-with-vuejs-socket-io-and-nodejs-714c8eefa54e -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Machine App Testing Service</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">VSU Websocket Example</a>
        </div>
      </div>
    </nav>

    <div id="app">
      <div class="container">
          <div class="col-lg-6 offset-lg-3">

              <div v-if="ready">
                  <p v-for="user in info">
                      {{user.username}} {{user.type}}
                  </p>
              </div>

              <div v-if="!ready">
                  <h4>Enter your username</h4>
                  <form @submit.prevent="addUser">
                      <div class="form-group row">
                          <input type="text" class="form-control col-9" v-model="username"
                              placeholder="Enter username here">
                          <input type="submit" value="Join" class="btn btn-sm btn-info ml-1">

                      </div>
                  </form>
              </div>
              <h2 v-else>{{username}}</h2>
              <div class="card bg-info" v-if="ready">
                  <div class="card-header text-white">
                      <h4>My Chat App <span class="float-right">{{connections}} connections</span></h4>
                  </div>
                  <ul class="list-group list-group-flush text-right">
                      <small v-if="typing" class="text-white">{{typing}} is typing</small>
                      <li @click="private(message.message, message.user)" class="list-group-item" v-for="message in messages">
                          <span :class="{'float-left':message.type === 1}">
                              {{message.message}}
                              <small>:{{message.user}}</small>
                          </span>
                      </li>
                  </ul>

                  <div class="card-body">
                      <form @submit.prevent="send">
                          <div class="form-group">
                              <input type="text" class="form-control" v-model="newMessage"
                                  placeholder="Enter message here">
                          </div>
                      </form>
                  </div>

                  <div class="card-body">
                    <div class="form-group">
                      <input type="text" class="form-control" v-model="privateMessage"
                          placeholder="Enter message here">
                      <button type="button" @click="sendPrivate()">SEND</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <!-- <script src="js/client.js"></script> -->
    <script src="js/vue.js"></script>

  </body>
</html>
